#clock{
    text-align: center;

}
button{
margin: 5px;
}
.a{
    width: 70px;
    height: 25px;
    background-color: green;
    color: white;
    border-radius: 3px;
    border: none;
}
.b{
    width: 70px;
    height: 25px;
    background-color: rgb(19, 19, 68);
    color: white;
    border-radius: 3px;
    border: none;
}
.c{
    width: 70px;
    height: 25px;
    background-color: brown;
    color: white;
    border-radius: 3px;
    border: none;
}


